:root {
  --main-title-color: #212121;
  --main-text-color: #757575;
  --accent-color: #2196f3;
}
body {
  font-family: 'Roboto', sans-serif;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
/*-----HEADER-----*/
.header {
  border-bottom: 1px solid #ececec;
  background-color: #ffffff;
}
.header-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  margin-right: 93px;
}
.header-studio {
  color: #212121;
}
.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  padding-bottom: 32px;
  padding-top: 32px;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}
.current::after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0px;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}
.current {
  color: var(--accent-color);
}
.header-item {
  position: relative;
}
.header-mail {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  margin-right: 50px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-mail:hover,
.header-mail:focus {
  color: var(--accent-color);
}
.header-tel:hover,
.header-tel:focus {
  color: var(--accent-color);
}
.header-contacts-item {
  display: flex;
}
.header-contacts-icon {
  margin-right: 10px;
  fill: currentColor;
  vertical-align: middle;
}
.header-navigation {
  display: flex;
  align-items: center;
}
.header-list {
  display: flex;
}
.header-contacts {
  display: flex;
}
.header .container {
  display: flex;
  align-items: center;
}
.header-contacts {
  margin-left: auto;
}
.header-item:not(:last-child) {
  margin-right: 50px;
}
/*-----Hero-----*/
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/background/Img-hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1600px;
  margin: auto;
}
.hero-button {
  display: block;
  min-width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  padding: 10px 32px;
  cursor: pointer;
  border: 0px;
  border-radius: 4px;
  margin-right: auto;
  margin-left: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button:hover,
.hero-button:focus {
  background-color: #188ce8;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}
/*-----ADVANTAGES-----*/
.advantages {
  padding-top: 94px;
  padding-bottom: 94px;
}
.advantages-list {
  display: flex;
}
.advantages-item:not(:last-child) {
  margin-right: 30px;
}
.advantages-item {
  width: 270px;
  height: 251px;
}
.advantages-icon-box {
  display: flex;
  width: 270px;
  height: 120px;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
}
.advantages-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
  text-transform: uppercase;
  margin-bottom: 10px;
}
.advantages-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
/*-----SERVICE-----*/
.service {
  padding-bottom: 94px;
}
.service-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
  text-align: center;
  margin-bottom: 50px;
}
.service-list {
  display: flex;
  margin-left: -30px;
}
.service-item {
  width: 370px;
  position: relative;
  display: flex;
}
.service-item {
  flex-basis: calc(100% / 3 -30px);
  margin-left: 30px;
}
.service-description {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-transform: uppercase;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  position: absolute;
  bottom: 0;
}
/*-----TEAM-----*/
.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #f5f4fa;
}
.team-list {
  display: flex;
  margin-left: -30px;
}
.team-item {
  width: 270px;
  background-color: #ffffff;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
.team-item {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
  text-align: center;
  margin-bottom: 50px;
}
.team-text {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 10px;
}
.team-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  margin-bottom: 16px;
}
.team-icon-list {
  display: flex;
  justify-content: center;
}
.team-icon-item:not(:last-child) {
  margin-right: 10px;
}
.team-icon-link {
  display: flex;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-social {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-icon-link:hover .icon-social,
.team-icon-link:focus .icon-social {
  fill: #ffffff;
}
.team-icon-link:hover,
.team-icon-link:focus {
  background-color: var(--accent-color);
}
/*-----CLIENT-----*/

.client-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
  text-align: center;
  margin-bottom: 50px;
  padding-top: 94px;
}
.client-list {
  padding-bottom: 94px;
  display: flex;
  margin-left: -30px;
}
.client-icon-link {
  display: flex;
  width: 170px;
  height: 92px;
  align-items: center;
  justify-content: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client-item {
  flex-basis: calc(100% / 5 - 30px);
  margin-left: 30px;
}
.icon-company {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client-icon-link:hover,
.client-icon-link:focus {
  border-color: #2196f3;
}
.client-icon-link:hover .icon-company,
.client-icon-link:focus .icon-company {
  fill: #2196f3;
}

/*-----FOOTER-----*/
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}
.footer .container {
  display: flex;
}
.footer-logo-address {
  margin-right: 70px;
}
.footer-logo {
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  margin-bottom: 20px;
}
.footer-studio {
  color: #ffffff;
}
.address-item:not(:last-child) {
  margin-bottom: 9px;
}
.address-map {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-mail {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-tel {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-map:hover,
.address-map:focus {
  color: var(--accent-color);
}
.address-mail:hover,
.address-mail:focus {
  color: var(--accent-color);
}
.address-tel:hover,
.address-tel:focus {
  color: var(--accent-color);
}
.address {
  font-style: normal;
}
.social-icon {
  margin-right: 93px;
}
.social-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-top: 12px;
}
.social-icon-link {
  display: flex;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-icon-link:hover,
.social-icon-link:focus {
  background-color: var(--accent-color);
}
.footer-social-icon {
  fill: #ffffff;
}
.social-icon-list {
  display: flex;
}
.social-icon-item:not(:last-child) {
  margin-right: 10px;
}
.distribution {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-top: 12px;
}
.distribution-input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background: transparent;
  margin-right: 12px;
  color: #ffffff;
  padding-left: 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.distribution-input:focus {
  outline: none;
  border-color: var(--accent-color);
}
.distribution-input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.distribution-button {
  min-width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  padding: 10px 30px;
  cursor: pointer;
  border: 0px;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.distribution-button:hover,
.distribution-button:focus {
  background-color: #188ce8;
}
.icon-distribution {
  margin-left: 10px;
  fill: currentColor;
  vertical-align: middle;
}
/*-----PORTFOLIO-FILTER-----*/
.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}
.portfolio-filter-list {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}
.portfolio-filter-item:not(:last-child) {
  margin-right: 8px;
}
.portfolio-filter-button {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  color: #212121;
  background-color: #f5f4fa;
  cursor: pointer;
  border-radius: 4px;
  border: 0px;
  padding: 6px 22px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-filter-button:hover,
.portfolio-filter-button:focus {
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08),
    0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}
/*-----PORTFOLIO-EXAMPLE-----*/
.portfolio-example-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  margin-bottom: 4px;
}
.portfolio-example-category {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #757575;
}
.portfolio-example-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}
.portfolio-example-item {
  width: 370px;
}
.portfolio-example-item {
  flex-basis: calc(100% / 9 - 30px);
  margin-left: 30px;
  margin-bottom: 30px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-example-item:hover {
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06),
    0px 1px 1px 0px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}
.portfolio-overlay {
  position: relative;
  overflow: hidden;
}
.portfolio-top-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  overflow: auto;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-example-item:hover .portfolio-top-text {
  transform: translateY(0%);
}
.portfolio-example-text {
  border: 1px solid #eeeeee;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
}
.portfolio-example-img {
  display: block;
}
.backdrop {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 250ms, visibility 250ms;
}
.modal {
  position: absolute;
  width: 528px;
  min-height: 581px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}
.btn-open {
  display: flex;
  width: 30px;
  height: 30px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: unset;
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
}
.btn-open-icon {
  fill: #000000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-open-icon:hover,
.btn-open-icon:focus {
  fill: var(--accent-color);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
  display: block;
  text-align: center;
  margin-bottom: 12px;
}
.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--main-text-color);
  display: block;
  margin-bottom: 4px;
}
.modal-form-field:nth-child(-n + 4) {
  margin-bottom: 10px;
}
.modal-form-field:nth-child(5) {
  margin-bottom: 20px;
}
.modal-form-field:nth-child(6) {
  margin-bottom: 30px;
}
.modal-form-icon {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  fill: var(--main-title-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-input:focus {
  outline: none;
  border-color: var(--accent-color);
}
.modal-form-input:focus + .modal-form-icon {
  fill: var(--accent-color);
}
.input-wrap {
  display: block;
  position: relative;
}
.modal-comment {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-comment::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-comment:focus {
  outline: none;
  border-color: var(--accent-color);
}
.check-label {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  justify-content: center;
}
.icon-check {
  width: 15px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #ffffff;
  margin-right: 8px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.checkbox:checked + .check-label > .icon-check {
  background-color: var(--accent-color);
  border: none;
  fill: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.agreement-link {
  color: var(--accent-color);
}
.modal-button {
  display: block;
  margin: 0 auto;
  min-width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  padding: 10px 30px;
  cursor: pointer;
  border: 0px;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-button:hover,
.modal-button:focus {
  background-color: #188ce8;
}
}